/* Définition des polices personnalisées */
/*J'ai importé la police Roboto sur Google Fonts*/
/* Eléments principaux de la page */

body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: #4d4d4d;
    height: 100%;
    margin: auto;
}
#bloc_page{
    width: 1018px;
    margin: auto;
}


/* Header */


header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#titre_principal{
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
#logo{
    display: block;
    align-items: baseline;
}
#logo img{
    width: 122px;
    height: 60px;
}


/* Navigation */


nav ul{
    list-style-type: none;
    display: flex;
    
}
nav li{
    margin-right: 15px;
    
}
nav a{
    float: left;
    margin-top: 5px;
    font-size: 1.3em;
    color: #002B54;
    padding-bottom: 30px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
nav a:hover{
    color: #760001;
    background-color: #ddd;
}


/*icone sur le côté dans le header*/


#barre_icon{
    display: flex;
    flex-direction: row;
    float: right;
    text-align: center;
    margin-right: 20px;
}
#barre_icon ul{
    list-style-type: none;
    display: flex;
}
#barre_icon li{
    display: flex;
    padding: 0px 13px; 
    border-left: 1px solid #88848e;
    width: 17px;
    font-size: 16px;
}
#barre_icon a{
    text-decoration: none;
    text-align: center;
    color: #002B54;
}


/* Bannière */


.banniere_image{
    margin-top: 30px;
    height: 343px;
    width: 1018px;
    border-radius: 27px;
    background: url('images/home-bandeau.png') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
}
.banniere_image h1{
    text-align: center;
    padding-top: 95px;
    color: #fff;
    font-weight: bold;
}
.banniere_image p{
    position: absolute;
    font-size: 30px;
    float: left;
    margin-left: 15px;
    bottom: -25px;
    z-index: 1000;
    color: #002B54;
    font-weight: bold;
}
.banniere_description{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 27px 27px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(255,255,255,0.7);
    color: #002B54;
    font-size: 0.8em;
}
#bouton_bleue{
    text-decoration: none;
    background-color: #002B54;
    color: white;
    position: absolute;
    height: 25px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #002B54;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    margin-right: 10px;
    margin-bottom: 5px;
}
#bouton_bleue a{
    text-decoration: none;
}
#bouton_bleue a:hover {
    color: #000;
}


/* Corps */


section{
    display: flex;
    margin-bottom: 20px;
}

article, aside{
    text-align: justify;
}

article{
    margin-right: 20px;
    flex: 3;
}
article h1{
    color: #002B54;
    font-size: 28px;
}
article p{
    font-size: 0.8em;
}
article a{
    text-decoration: none;
    color: #2a6496;
}

article a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
}
#telechargement p{
    float: right;
    display: block;
    margin-right: 20px;
    border-radius: 8px;
    border-color:  #002B54;
}
#telechargement p a{
  float: right;
  text-decoration: none;
}
#imglist li{
    list-style-image: url(images/arrowright.png);
}
#imglist li p{
    font-size:16px;
    font-style: normal;
}


/* Footer */


footer{
    display: flex;
    padding-top: 25px;
}
footer p, footer ul{
    font-size: 0.8em;
}
footer h1{
    color: rgb(0,43,84);
}
#titre{
    display: flex;
    flex-direction: row;
}
#titre ul{
    display: flex;
    list-style-type: none;
}
#titre li{
    width: 320px;
    margin-left: -20px;
    padding-right: 38px;
    margin-top: -10px;
}
#titre{
    display: flex;
    flex-direction: row;
}

#actualites ul{
    list-style-type: none;
    display: flex;
    margin-top: -8px;
}
#actualites li{
    display: flex;
    width: 320px;
    padding-right: 20px;
}
#actualites img{
    text-decoration: none;
    float: left;
    margin-left: -20px;
}
#actualites h1{
    text-transform: uppercase;
    margin-left: 8px;
    margin-top: -2px;
    margin-right: 8px;
    float: left;
    font-size: 1.1em;
}
#actualites a{
    color: #002B54;
    text-decoration: none;
}
#actualites a:hover, a:focus{
    color: #002B54;
    text-decoration: underline;
}
#description{
    display: flex;
    flex-direction: row;
}
#description ul{
    display: flex;
    list-style-type: none;
}
#description li{
    width: 320px;
    margin-left: -20px;
    padding-right: 38px;
    margin-top: -10px;
}


/*format mobile*/


@media all and (max-width: 1280px)
{
    #bloc_page{
        width: auto;
    }
    #barre_icon{
        width: auto;
    }
    section{
        flex-direction: column;
        width: auto;
    }
    nav ul{
        display: none;
    }
    .banniere_image{
      width: auto;
      margin-left: 1px;
      margin-right: 1px;
    }
    article{
        width: auto;
        margin-bottom: 15px;
    }
    #actualites ul{
        flex-direction: column;
    }
    #actualites li{
        margin-top: 20px;
    }
    #description{
        display: none;
    }
    #titre{
        display: none;
    }
}